@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-light
    }
}

.TopHeadSvg{
    @apply before:bg-no-repeat before:h-full before:content-['']
    before:absolute before:bg-contain before:-left-52 before:top-0 before:bg-svgTopHead before:w-full before:box-border;
}
.activeLink{
    @apply bg-primary-active shadow-xl shadow-primary-active/60 text-light-active 
}
.link{
    @apply text-sm font-normal h-10 leading-9 px-6 rounded-full
}
.highlight {
    @apply relative before:z-0 before:w-16 before:h-7 before:bg-no-repeat
    before:bg-[url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=c9d9e8)]
    before:content-[""] before:absolute before:top-0 ltr:left-0 rtl:before:right-0;
}
.circleOverLi {
    @apply before:absolute before:bg-primary-medium before:content-[""] before:top-[.25rem] before:-left-[.5rem]
    before:h-4 before:w-4 before:rounded-full
    after:absolute after:bg-primary-medium/30 after:content-[""] after:-top-0 after:-left-[.74rem] after:h-6
    after:w-6 after:rounded-full;
}
