@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-light
    }
}

.ck , .ck-content{
    @apply h-64;
}
.tabActive{
    @apply !bg-slate-700 !text-light;
}